@media all and (max-width:700px) {

/* header*/
.header__logo__box {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}
.header__logo {
    font-size: 2vw;
    width: 15px;
    height: 15px;
    margin-top: 23px;
    margin-left: 8px;
} 

/* scroll*/
.scroll {
    display: none;
}

/* section1*/
#section1 h2{
    opacity: 0;
}
#section1 .main__logo{
    width: 65vw;
}        
.st01{
    top: 40%;
    left: -100%;
    font-size: 18vw;
}
.st02{
    left: -93%;
    font-size: 17vw;
}
.st03{
    top: 62%;
    left: -85%;
    font-size: 16vw;
}
.st04{
    left: -70%;
    top: 73%;
    font-size: 14vw;
}
.st05{
    left: -55%;
    top: 83%;
    font-size: 12vw;
}

/* section2*/
#section2 .sec02 p {
    font-size: 3.2vw;
} 
#section2 .stone_01 {
    left: -20%;
    width: 50vw;
}  
#section2 .stone_02 {
    top: 0%;
    right: -25%;
    width: 50vw;
} 
#section2 .fragments {
    top: 17%;
    right: 15%;
    width: 40vw;
}  

#section3 h3{
    top: -25%;
    }
    #section3 .sec03 .txt_main {
    font-size: 28vw;
    }
    #section3 .sec03 .txt_sub1 {
    font-size: 25vw;
    }
    #section3 .sec03 .txt_sub2{
    font-size: 21vw;
    }
    #section3 .sec03 .txt_sub3{
    font-size: 16vw;
    }
    #section3 .sec03 .txt_sub4{
    font-size: 12vw;
    }
}