
/* header */
header {
    width: 100%;
    height: 80px;
    position: absolute;
    position: fixed;
    z-index: 99;
    overflow: hidden;
    opacity: 0;
}
.header_back {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}
.header__inner {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
}

/* header logo */
.header__left {
  width: 15%;
  height: 100%;
  position: relative;
}
.header__logo__box {
    width: 40px;
    height: 40px;
    border: 2.5px solid var(--white);
    margin-top: 20px;
    text-align: center;
    position: absolute;
}
.header__logo__box:hover {
  transition: 1s;
  rotate: 45deg;
}
.header__logo {
    width: 20px;
    height: 20px;
    color: var(--white);
    font-size: 1vw;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
}

/* scroll */
.scroll {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 40px;
    height: 40px;
    color: var(--white);
    text-align: center;
    font-size: 0.8vw;
    z-index: 99;
}

/* header menu */
.header__menu {
    width: 100%;
    color: var(--white);
    letter-spacing: 10px;
    text-align: center;
    font-family: "Quest";
}
.header__menu ul {
    display: block;
}
.header__menu li {
    display: inline-block;
}
.header__menu li a {
    padding: 10px 25px;
    margin: 0 5px;
    font-size: 0.85vw;
    line-height: 70px;
}
  
/* header right */
.header__right {
    width: 15%;
    height: 100%;
}
.mobile__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 15px;
    margin-top: 27.5px;
    cursor: pointer;
    opacity: 0;
}
.mobile__btn span{
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: var(--blue);
}

/* section1 */
#section1 .main{
    position: relative;
    width: 100%;
    height: 100vh;
}
#section1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
#section1 h2 {
    color: var(--white);
    font-size: 8vw;
    font-family: "Saint";
    white-space: nowrap;
    position: absolute;
    bottom: -40%;
    opacity: 0;
}
#section1 .main__logo {
    width: 34vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* sec01 오프닝 */
.sec01__title {
    width: 120%;
    font-family: "Saint";
    text-align: center;
    display: block;
    position: absolute;
    left: -20%;
    white-space: nowrap;
    opacity: 0;
    color: var(--white);
}

.st01 {
    color: var(--white);
    font-size: 8vw;
    font-family: "Saint";
    white-space: nowrap;
    position: absolute;
    top: 37%;
    left: -8%;
    opacity: 0;
}
.st02 {
    top: 51%;
    left: -10%;
    color: #fff;
    font-size: 7.5vw;
}
.st03 {
    top: 63%;
    left: -10%;
    font-size: 7vw;
}
.st04 {
    top: 75%;
    left: -10%;
    font-size: 6.5vw;
}
.st05 {
    top: 87%;
    left: -10%;
    font-size: 6vw;
} 
.op {
    opacity: 1;
}

          
/* section2 */
#section2 {
    width: 100%;
    height: 100rem;
    background: var(--black);
    position: relative;
    overflow: hidden;
}
#section2 .sec02 {
    position: relative;
    width: 100%;
    height: 100%;
}
#section2 .sec02 p {
    width: 100%;
    font-size: 1.8vw;
    color: var(--white);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Gmarket";
}
#section2 span {
    color: var(--blue);
}
#section2 .stone_01 {
    position: absolute;
    width: 28vw;
    left: -10%;
    z-index: 98;
}
#section2 .stone_02 {
    position: absolute;
    width: 28vw;
    right: -15%;
    z-index: 98;
}
#section2 .fragments {
    position: absolute;
    width: 22vw;
    right: 15%;
}   
        
/* section3 */
  #section3 {
    width: 100%;
    height: 400rem;
    background: var(--black);
    position: relative;
  }
  
  #section3 .sec03 {
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  
  #section3 .sec03_box {
    width: 100%;
    height: 100%;
  }
  
  #section3 .sec03_con {
    font-family: "Quest";
    color: var(--white);
  }
  #section3 .sec03_con span {
    font-family: "Saint";
    color: var(--blue);
  }
 
  #section3 .sec03_con em {
    opacity: 0;
  }
  #section3 .sec03_con .op {
    opacity: 1;
  }
  #section3 .sec03_con .no {
    opacity: 0;
  }
  
  /* sec03_A */
  #section3 .sec03_A {
    position: absolute;
    transform: translate(0%, -50%);
    width: 100%;
    height: 60vh;
    font-size: 6vw;
    line-height: 5.5vw;
    top: 50%;
    left: 10%;
  }

  #section3 .sec03_A .A01 {
    position: absolute;
  }
  #section3 .sec03_A .A02 {
    position: absolute;
    top: 20%;
  }
  #section3 .sec03_A .A03 {
    position: absolute;
    top: 39%;
  }
  #section3 .sec03_A .A04 {
    position: absolute;
    top: 60%;
  }
  #section3 .sec03_A .A05 {
    position: absolute;
    top: 80%;
  }

  /* sec03_B */
  #section3 .sec03_B {
    position: absolute;
    transform: translate(0%, -50%);
    width: 100%;
    height: 60vh;
    font-size: 7.5vw;
    line-height: 7.5vw;
    top: 40%;
    left: -5%;
  }

  #section3 .sec03_B .B01 {
    position: absolute;
    top: 2%;
    left: 4%;
  }
  #section3 .sec03_B .B02 {
    position: absolute;
    top: 25%;
    left: -1%;
  }
  #section3 .sec03_B .B03 {
    position: absolute;
    top: 52%;
    left: 7%;
  }
  #section3 .sec03_B .B04 {
    position: absolute;
    top: 78%;
    left: 12%;
  }
  #section3 .sec03_B .B05 {
    position: absolute;
    top: 105%;
    left: 4%;
  }

  /* sec03_C */
  #section3 .sec03_C {
    position: absolute;
    transform: translate(0%, -50%);
    width: 100%;
    height: 60vh;
    font-size: 4.5vw;
    line-height: 4.5vw;
    top: 50%;
    left: 10%;
    letter-spacing: -1vw;
    word-spacing: 1vw;
  }
  
  #section3 .sec03_C .C01 {
    position: absolute;
    top: 3%;
  }
  #section3 .sec03_C .C02 {
    position: absolute;
    top: 22%;
  }
  #section3 .sec03_C .C03 {
    position: absolute;
    top: 42%;
  }
  #section3 .sec03_C .C04 {
    position: absolute;
    top: 63%;
  }
  #section3 .sec03_C .C05 {
    position: absolute;
    top: 84%;
  }
  
  /* sec03_D */
  #section3 .sec03_D {
    position: absolute;
    transform: translate(0%, -50%);
    width: 100%;
    height: 60vh;
    font-size: 5vw;
    line-height: 5.5vw;
    top: 40%;
    left: -5%;
  }
  #section3 .sec03_D .D01 {
    position: absolute;
    top: 7%;
    left: 4%;
  }
  #section3 .sec03_D .D02 {
    position: absolute;
    top: 30%;
    left: 6%;
  }
  #section3 .sec03_D .D03 {
    position: absolute;
    top: 56%;
    left: 7%;
  }
  #section3 .sec03_D .D04 {
    position: absolute;
    top: 83%;
    left: 12%;
  }
  #section3 .sec03_D .D05 {
    position: absolute;
    top: 110%;
    left: 4%;
  }

  /*section3 img */
  #section3 .sec03_main {
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translate(-50%, -50%);
  }
  #section3 .sec03_main img {
    position: absolute;
    bottom: 20%;
    right: 20%;
    transform: translate(-50%, -50%);
    width: 17vw;
    filter: brightness(0.8);
  }
  #section3 .sec03_img {
    position: absolute;
    top: 20%;
    right: 0%;
    transform: translate(-50%, -50%);
  }
  #section3 .sec03_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    filter: brightness(0.8);
    opacity: 0;
  }

  /* 오프닝 */
  #section3 .sec03_img .opening_01.picAni {
    animation: pic 0.8s linear 0s;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .opening_02.picAni {
    animation: pic 0.8s linear 0.1s;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .opening_03.picAni {
    animation: pic 0.8s linear 0.2s;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .opening_04.picAni {
    animation: pic 0.8s linear 0.3s;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .opening_05.picAni {
    animation: pic 0.8s linear 0.4s;
    transform-origin: 100% 0;
  }
  
  /* slider */
  #section3 .sec03_img .slider_01.picAni {
    animation: pic 5.35s linear 0.4s infinite;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .slider_02.picAni {
    animation: pic 5.35s linear 0.95s infinite;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .slider_03.picAni {
    animation: pic 5.35s linear 1.5s infinite;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .slider_04.picAni {
    animation: pic 5.35s linear 2.05s infinite;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .slider_05.picAni {
    animation: pic 5.35s linear 2.6s infinite;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .slider_06.picAni {
    animation: pic 5.35s linear 3.15s infinite;
    transform-origin: 100% 0;
  }
  #section3 .sec03_img .slider_07.picAni {
    animation: pic 5.35s linear 3.7s infinite;
    transform-origin: 100% 0;
  }
  
  /* 애니메이션 */
  @keyframes pic {
    0% {
      opacity: 1;
      transform: rotate(90deg) translate(35vw) rotate(-90deg);
    }
    100% {
      opacity: 1;
      transform: rotate(270deg) translate(35vw) rotate(-90deg);
    }
  }