
/* header */
header {
    width: 100%;
    height: 80px;
    position: absolute;
    position: fixed;
    z-index: 99;
    overflow: hidden;
    opacity: 0;
}

.header_back {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}
.header__inner {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 80px;
    display: flex;
}
@media all and (max-width:1200px) {
    .header__inner {
        padding: 0 15px;
    }  
}

/* header logo */
.header__left {
  width: 15%;
  height: 100%;
  position: relative;
}
.header__logo__box {
    width: 40px;
    height: 40px;
    border: 2.5px solid var(--white);
    margin-top: 20px;
    text-align: center;
    position: absolute;
}
@media all and (max-width:700px) {
  .header__logo__box {
    width: 30px;
    height: 30px;
  }  
}
.header__logo__box:hover {
  transition: 1s;
  rotate: 45deg;
}

.header__logo {
    width: 20px;
    height: 20px;
    color: var(--white);
    font-size: 1vw;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
}

@media all and (max-width:1200px) {
    .header__logo {
        font-size: 2vw;
    }  
}
@media all and (max-width:700px) {
    .header__logo {
      width: 15px;
      height: 15px;
      margin-top: 28px;
      margin-left: 8px;
    }  
}

/* scroll */
.scroll {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 40px;
    height: 40px;
    color: var(--white);
    text-align: center;
    font-size: 0.8vw;
    z-index: 99;
}
@media all and (max-width:1200px) {
    .scroll {
        display: none;
    }  
}

/* header menu */
.header__menu {
    width: 100%;
    color: var(--white);
    letter-spacing: 10px;
    text-align: center;
    font-family: "Quest";
}
.header__menu ul {
    display: block;
}
@media all and (max-width:1200px) {
    .header__menu ul {
        display: none;
    }  
}

.header__menu li {
    display: inline-block;
}
.header__menu li a {
    padding: 10px 25px;
    margin: 0 5px;
    font-size: 0.85vw;
    line-height: 70px;
}
  
/* header right */
.header__right {
    width: 15%;
    height: 100%;
}
.mobile__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 15px;
    margin-top: 27.5px;
    cursor: pointer;
    opacity: 0;
}

@media all and (max-width:1200px) {
  .mobile__btn{
   opacity: 1;
  }  
}

.mobile__btn span{
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: var(--blue);
}

/* section1 */
#section1 .main{
    position: relative;
    width: 100%;
    height: 1080px;
    background-color: var(--blue);
}
#section1 {
    width: 100%;
    height: 1080px;
    position: relative;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

#section1 h2 {
    color: var(--white);
    font-size: 8vw;
    font-family: "Saint";
    white-space: nowrap;
    position: absolute;
    bottom: -40%;
    opacity: 0;
}
@media all and (max-width:700px) {
    #section1 h2{
     opacity: 0;
    }  
}
  #section1 .main__logo {
    width: 34vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  @media all and (max-width:1200px) {
    #section1 .main__logo{
        width: 45vw;
    }  
  } 
  @media all and (max-width:700px) {
    #section1 .main__logo{
        width: 65vw;
    }  
  }

  #section1 .main__logo img {
    transform-style: preserve-3d;
    perspective: 1200px; 
  }
/* sec01 오프닝 */
    .sec01__title {
        width: 120%;
        font-family: "Saint";
        text-align: center;
        display: block;
        position: absolute;
        left: -20%;
        white-space: nowrap;
        opacity: 0;
        color: var(--white);
      }

      .st01 {
        color: var(--white);
        font-size: 8vw;
        font-family: "Saint";
        white-space: nowrap;
        position: absolute;
        top: 37%;
        left: -8%;
        opacity: 0;
      }
    
     @media all and (max-width:1200px) {
        .st01{
        top: 40%;
         font-size: 12vw;
        }  
    }
      @media all and (max-width:700px) {
        .st01{
         top: 40%;
         left: -100%;
         font-size: 18vw;
        }  
    }
      .st02 {
        top: 51%;
        left: -10%;
        color: #fff;
        font-size: 7.5vw;
      }

      @media all and (max-width:1200px) {
        .st02{
         font-size: 10vw;
        }  
    }
      @media all and (max-width:700px) {
        .st02{
         left: -93%;
         font-size: 17vw;
        }  
    }
      .st03 {
        top: 63%;
        left: -10%;
        font-size: 7vw;
      }
      @media all and (max-width:1200px) {
        .st03{
         font-size: 9vw;
        }  
    }
      @media all and (max-width:700px) {
        .st03{
         top: 62%;
         left: -85%;
         font-size: 16vw;
        }  
    }  
      .st04 {
        top: 75%;
        left: -10%;
        font-size: 6.5vw;
      }
      @media all and (max-width:1200px) {
        .st04{
         font-size: 8vw;
        }  
    }
      @media all and (max-width:700px) {
        .st04{
         left: -70%;
         top: 73%;
         font-size: 14vw;
        }  
    }  
      .st05 {
        top: 87%;
        left: -10%;
        font-size: 6vw;
      }
      @media all and (max-width:1200px) {
        .st05{
         font-size: 7vw;
        }  
    }
      @media all and (max-width:700px) {
        .st05{
         left: -55%;
         top: 83%;
         font-size: 12vw;
        }  
    }  
      .op {
        opacity: 1;
      }

          
/* section2 */
#section2 {
    width: 100%;
    height: 100rem;
    background: var(--black);
    position: relative;
    overflow: hidden;
  }
  #section2 .sec02 {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  #section2 .sec02 p {
    width: 100%;
    font-size: 1.8vw;
    color: var(--white);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Gmarket";
  }
  @media all and (max-width:1600px) {
    #section2 .sec02 p {
        font-size: 2.2vw;
    }  
  } 
  @media all and (max-width:700px) {
    #section2 .sec02 p {
        font-size: 3.2vw;
    }  
  }

  #section2 span {
    color: var(--blue);
  }
  #section2 .stone_01 {
    position: absolute;
    width: 28vw;
    left: -10%;
    z-index: 98;
  }
  @media all and (max-width:1200px) {
    #section2 .stone_01 {
        width: 40vw;
        bottom: 50%;
    }  
  } 
  @media all and (max-width:700px) {
    #section2 .stone_01 {
        left: -20%;
        width: 50vw;
    }  
  }
  #section2 .stone_02 {
    position: absolute;
    width: 28vw;
    right: -15%;
    z-index: 98;
  }
  @media all and (max-width:1200px) {
    #section2 .stone_02 {
        right: -15%;
        width: 32vw;
    }  
  } 
  @media all and (max-width:700px) {
    #section2 .stone_02 {
        top: 0%;
        right: -25%;
        width: 50vw;
    }  
  }  
  #section2 .fragments {
    position: absolute;
    width: 22vw;
    right: 15%;
  }   
  
  @media all and (max-width:1200px) {
    #section2 .fragments {
        top: 10%;
        right: 15%;
        width: 32vw;
    }  
  } 
  @media all and (max-width:700px) {
    #section2 .fragments {
        top: 17%;
        right: 15%;
        width: 40vw;
    }  
  }  
    
  /* section2_add */

  #section2_add {
    width: 100%;
    height: 400rem;
    background: var(--black);
    position: relative;
  }
  
  #section2_add .sec02_02 {
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  
  #section2_add .sec02_box {
    width: 100%;
    height: 100%;
  }
  
  #section2_add .sec02_con {
    font-family: "Quest";
    color: var(--white);
  }
  #section2_add .sec02_con span {
    font-family: "Saint";
    color: var(--blue);
  }
  
  #section2_add .sec02_A {
    position: absolute;
    transform: translate(0%, -50%);
    width: 100%;
    height: 60vh;
    font-size: 6.5vw;
    line-height: 5.5vw;
    top: 50%;
    left: 10%;
  }
  
  #section2_add .sec02_B {
    position: absolute;
    transform: translate(0%, -50%);
    width: 100%;
    height: 60vh;
    font-size: 8vw;
    line-height: 7.5vw;
    top: 40%;
    left: -5%;
  }
  
  #section2_add .sec02_con em {
    opacity: 0;
  }
  #section2_add .sec02_con .op {
    opacity: 1;
  }
  #section2_add .sec02_con .no {
    opacity: 0;
  }
  
  /* sec02_A */
  #section2_add .sec02_A .A01 {
    position: absolute;
  }
  #section2_add .sec02_A .A02 {
    position: absolute;
    top: 20%;
  }
  #section2_add .sec02_A .A03 {
    position: absolute;
    top: 39%;
  }
  #section2_add .sec02_A .A04 {
    position: absolute;
    top: 60%;
  }
  #section2_add .sec02_A .A05 {
    position: absolute;
    top: 80%;
  }
  
  /* sec02_B */
  #section2_add .sec02_B .B01 {
    position: absolute;
    top: 2%;
    left: 4%;
  }
  #section2_add .sec02_B .B02 {
    position: absolute;
    top: 25%;
    left: -1%;
  }
  #section2_add .sec02_B .B03 {
    position: absolute;
    top: 52%;
    left: 7%;
  }
  #section2_add .sec02_B .B04 {
    position: absolute;
    top: 78%;
    left: 12%;
  }
  #section2_add .sec02_B .B05 {
    position: absolute;
    top: 105%;
    left: 4%;
  }
  
  /* sec02_C */
  #section2_add .sec02_C {
    position: absolute;
    transform: translate(0%, -50%);
    width: 100%;
    height: 60vh;
    font-size: 5vw;
    line-height: 4.5vw;
    top: 50%;
    left: 10%;
    letter-spacing: -1vw;
    word-spacing: 1vw;
  }
  
  /* sec02_C */
  #section2_add .sec02_D {
    position: absolute;
    transform: translate(0%, -50%);
    width: 100%;
    height: 60vh;
    font-size: 6vw;
    line-height: 5.5vw;
    top: 40%;
    left: -5%;
  }
  
  /* sec02_C */
  #section2_add .sec02_C .C01 {
    position: absolute;
    top: 3%;
  }
  #section2_add .sec02_C .C02 {
    position: absolute;
    top: 22%;
  }
  #section2_add .sec02_C .C03 {
    position: absolute;
    top: 42%;
  }
  #section2_add .sec02_C .C04 {
    position: absolute;
    top: 63%;
  }
  #section2_add .sec02_C .C05 {
    position: absolute;
    top: 84%;
  }
  
  /* sec02_D */
  #section2_add .sec02_D .D01 {
    position: absolute;
    top: 7%;
    left: 4%;
  }
  #section2_add .sec02_D .D02 {
    position: absolute;
    top: 30%;
    left: 6%;
  }
  #section2_add .sec02_D .D03 {
    position: absolute;
    top: 56%;
    left: 7%;
  }
  #section2_add .sec02_D .D04 {
    position: absolute;
    top: 83%;
    left: 12%;
  }
  #section2_add .sec02_D .D05 {
    position: absolute;
    top: 110%;
    left: 4%;
  }
  /*section2 img */
  #section2_add .sec02_main {
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translate(-50%, -50%);
    display: none;
  }
  #section2_add .sec02_main img {
    position: absolute;
    bottom: 20%;
    right: 20%;
    transform: translate(-50%, -50%);
    width: 17vw;
    filter: brightness(0.8);
  }
  #section2_add .sec02_img {
    position: absolute;
    top: 20%;
    right: 0%;
    transform: translate(-50%, -50%);
  }
  #section2_add .sec02_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    filter: brightness(0.8);
    opacity: 0;
  }
  /* 오프닝 */
  #section2_add .sec02_img .opening_01.picAni {
    animation: pic 0.8s linear 0s;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .opening_02.picAni {
    animation: pic 0.8s linear 0.1s;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .opening_03.picAni {
    animation: pic 0.8s linear 0.2s;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .opening_04.picAni {
    animation: pic 0.8s linear 0.3s;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .opening_05.picAni {
    animation: pic 0.8s linear 0.4s;
    transform-origin: 100% 0;
  }
  
  /* slider */
  #section2_add .sec02_img .slider_01.picAni {
    animation: pic 5.35s linear 0.4s infinite;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .slider_02.picAni {
    animation: pic 5.35s linear 0.95s infinite;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .slider_03.picAni {
    animation: pic 5.35s linear 1.5s infinite;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .slider_04.picAni {
    animation: pic 5.35s linear 2.05s infinite;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .slider_05.picAni {
    animation: pic 5.35s linear 2.6s infinite;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .slider_06.picAni {
    animation: pic 5.35s linear 3.15s infinite;
    transform-origin: 100% 0;
  }
  #section2_add .sec02_img .slider_07.picAni {
    animation: pic 5.35s linear 3.7s infinite;
    transform-origin: 100% 0;
  }
  
  /* 애니메이션 */
  @keyframes pic {
    0% {
      opacity: 1;
      transform: rotate(90deg) translate(700px) rotate(-90deg);
    }
    100% {
      opacity: 1;
      transform: rotate(270deg) translate(700px) rotate(-90deg);
    }
  }