@media all and (max-width:1200px) {

/* header*/    
header{
height: 60px;
}
.header_back{
height: 60px;
}
.header__inner {
padding: 0 15px;
height: 60px;
}  
.header__menu ul {
display: none;
} 
.mobile__btn{
opacity: 1;
}

/* section1*/
#section1 .main__logo{
width: 45vw;
}
.st01{
top: 40%;
font-size: 12vw;
}
.st02{
font-size: 10vw;
}
.st03{
font-size: 9vw;
}
.st04{
font-size: 8vw;
} 
.st05{
font-size: 7vw;
}

/* section2*/
#section2 .sec02 p {
font-size: 2.2vw;
} 
#section2 .stone_01 {
width: 40vw;
bottom: 50%;
}
#section2 .stone_02 {
right: -15%;
width: 32vw;
}  
#section2 .fragments {
top: 10%;
right: 15%;
width: 32vw;
}

  /* sec03_A */
  #section3 .sec03_A {
    font-size: 7vw;
    line-height: 7.5vw;
  }

  #section3 .sec03_A .A01 {
    top: 10%;
  }
  #section3 .sec03_A .A02 {
    top: 25%;
  }
  #section3 .sec03_A .A03 {
    top: 39%;
  }
  #section3 .sec03_A .A04 {
    top: 55%;
  }
  #section3 .sec03_A .A05 {
    top: 70%;
  }

  /* sec03_B */
  /* #section3 .sec03_B {
    font-size: 10vw;
  }

  #section3 .sec03_B .B01 {
    top: 20%;
    left: 10%;
  }
  #section3 .sec03_B .B02 {
    top: 30%;
    left: 5%;
  }
  #section3 .sec03_B .B03 {
    top: 50%;
    left: 10%;
  }
  #section3 .sec03_B .B04 {
    top: 65%;
    left: 20%;
  }
  #section3 .sec03_B .B05 {
    top: 75%;
    left: 10%;
  } */

  /* sec03_C */
  /* #section3 .sec03_C {
    font-size: 6vw;
  }
  #section3 .sec03_C .C01 {
    top: 10%;
  }
  #section3 .sec03_C .C02 {
    top: 25%;
  }
  #section3 .sec03_C .C03 {
    top: 39%;
  }
  #section3 .sec03_C .C04 {
    top: 55%;
  }
  #section3 .sec03_C .C05 {
    top: 70%;
  } */
  
  /* sec03_D */
  /* #section3 .sec03_D {
    font-size: 6.5vw;
  }
  #section3 .sec03_D .D01 {
    top: 20%;
    left: 10%;
  }
  #section3 .sec03_D .D02 {
    top: 30%;
    left: 5%;
  }
  #section3 .sec03_D .D03 {
    top: 50%;
    left: 10%;
  }
  #section3 .sec03_D .D04 {
    top: 65%;
    left: 20%;
  }
  #section3 .sec03_D .D05 {
    top: 75%;
    left: 10%;
  } */

/*section3 img */
#section3 .sec03_img img {
width: 20vw;
}

/* 애니메이션 */
@keyframes pic {
0% {
    opacity: 1;
    transform: rotate(90deg) translate(50vw) rotate(-90deg);
}
100% {
    opacity: 1;
    transform: rotate(270deg) translate(50vw) rotate(-90deg);
}
}
}
