@media all and (max-width:1800px) {
  /* section3 */
  #section3 h3{
  top: -60%;
  }
  #section3 .sec03 .txt_main {
  font-size: 16vw;
  }
  #section3 .sec03 .txt_sub1 {
  font-size: 13vw;
  }
  #section3 .sec03 .txt_sub2{
  font-size: 11vw;
  }
  #section3 .sec03 .txt_sub3{
  font-size: 9vw;
  }
  #section3 .sec03 .txt_sub4{
  font-size: 7vw;
  }
}
@media all and (max-width:1500px) {
  /* section3 */
  #section3 h3{
  top: -50%;
  }
  #section3 .sec03 .txt_main {
  font-size: 18vw;
  }
  #section3 .sec03 .txt_sub1 {
  font-size: 15vw;
  }
  #section3 .sec03 .txt_sub2{
  font-size: 13vw;
  }
  #section3 .sec03 .txt_sub3{
  font-size: 11vw;
  }
  #section3 .sec03 .txt_sub4{
  font-size: 9vw;
  }
}
@media all and (max-width:1200px) {

/* header*/    
header{
height: 60px;
}
.header_back{
height: 60px;
}
.header__inner {
padding: 0 15px;
height: 60px;
}  
.header__menu ul {
display: none;
} 
.mobile__btn{
opacity: 1;
}

/* section1*/
#section1 .main__logo{
width: 45vw;
}
.st01{
top: 40%;
font-size: 12vw;
}
.st02{
font-size: 10vw;
}
.st03{
font-size: 9vw;
}
.st04{
font-size: 8vw;
} 
.st05{
font-size: 7vw;
}

/* section2*/
#section2 .sec02 p {
font-size: 2.2vw;
} 
#section2 .stone_01 {
width: 40vw;
bottom: 50%;
}
#section2 .stone_02 {
right: -15%;
width: 32vw;
}  
#section2 .fragments {
top: 10%;
right: 15%;
width: 32vw;
}

/* section3 */
@media all and (max-width:1200px) {
#section3 h3{
  top: -40%;
  }
  #section3 .sec03 .txt_main {
  font-size: 20vw;
  }
  #section3 .sec03 .txt_sub1 {
  font-size: 17vw;
  }
  #section3 .sec03 .txt_sub2{
  font-size: 15vw;
  }
  #section3 .sec03 .txt_sub3{
  font-size: 12vw;
  }
  #section3 .sec03 .txt_sub4{
  font-size: 10vw;
  }
}
@media all and (max-width:1000px) {
    #section3 h3{
    top: -40%;
    }
    #section3 .sec03 .txt_main {
    font-size: 23vw;
    }
    #section3 .sec03 .txt_sub1 {
    font-size: 20vw;
    }
    #section3 .sec03 .txt_sub2{
    font-size: 18vw;
    }
    #section3 .sec03 .txt_sub3{
    font-size: 16vw;
    }
    #section3 .sec03 .txt_sub4{
    font-size: 14vw;
    }
  }  
}